header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  font-size: 1.6em;

  .barraNav__links {
    display: flex;
    gap: 1em;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #3b3b3b;
  } 
}