.wrapper {
  padding: 1rem;
  position: relative;
}

.main {
  width: min(100%, 90em);
  margin-inline: auto;

  .section {
    margin-block: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      text-align: center;
      display: grid;
      gap: 1rem;
      width: min(100%, 100ch);
      margin-inline: auto;
    }

    p {
      font-size: clamp(1rem, 2vw, 1.3rem);
    }
  }

  .cover {
    &__h1 {
      font-size: clamp(2.5rem, 4vw, 3.5rem);
      font-weight: 900;
      background: -webkit-linear-gradient(var(--secondary), var(--primary));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__email {
      margin-block: 5vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;

      p {
        color: var(--accent);
        font-size: 0.9rem;
      }
    }
  }

  .cover_img {
    position: relative;
    border-radius: 10px;
    height: 50vh;

    &::after,
    &::before {
      content: "";
      position: absolute;
      border-radius: inherit;
    }

    &::before {
      background: linear-gradient(
        hsla(0, 0%, 100%, 0.116) 70%,
        var(--background)
      );
      inset: 0;
    }

    &::after {
      z-index: -1;
      background-color: var(--accent);
      filter: blur(3.5rem);
      inset: 0 0 6rem 0;
    }

    img {
      border-radius: inherit;
      border: 1px solid var(--accent);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .card_container {
    width: 100%;
  }
}

// ======= Input Styles ========
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--background);
  color: var(--text);
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: var(--primary);
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

// ======= Card component styles ======
.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.card a {
  text-decoration: none;
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(239, 205, 255);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563eb;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: 0.3s ease;
}

.action:hover span {
  transform: translateX(4px);
}

// ======= Square menu component styles ======

.card {
  position: relative;
  width: 200px;
  // height: 200px;
  aspect-ratio: 1;
  background: lightgrey;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 400ms ease-in-out;
}

.background {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at 100% 107%,
    #ff89cc 0%,
    #9cb8ec 30%,
    #00ffee 60%,
    #62c2fe 100%
  );
}

.logo {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  transition: all 0.4s ease-in-out;
}

.logo .logo-svg {
  fill: white;
  width: 30px;
  height: 30px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon .svg {
  fill: rgba(255, 255, 255, 0.797);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.box {
  position: absolute;
  padding: 10px;
  text-align: right;
  background: rgba(255, 255, 255, 0.389);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 1px solid white;
  border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
  box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
  transform-origin: bottom left;
  transition: all 1s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.box:hover .svg {
  fill: white;
}

.box1 {
  width: 70%;
  height: 70%;
  bottom: -70%;
  left: -70%;
}

.box1::before {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #ff53d4 60%,
    #62c2fe 90%
  );
}

.box1:hover::before {
  opacity: 1;
}

.box1:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box2 {
  width: 50%;
  height: 50%;
  bottom: -50%;
  left: -50%;
  transition-delay: 0.2s;
}

.box2::before {
  background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00acee 90%);
}

.box2:hover::before {
  opacity: 1;
}

.box2:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box3 {
  width: 30%;
  height: 30%;
  bottom: -30%;
  left: -30%;
  transition-delay: 0.4s;
}

.box3::before {
  background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

.box3:hover::before {
  opacity: 1;
}

.box3:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box4 {
  width: 10%;
  height: 10%;
  bottom: -10%;
  left: -10%;
  transition-delay: 0.6s;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .box {
  bottom: -1px;
  left: -1px;
}

.card:hover .logo {
  transform: translate(0, 0);
  bottom: 20px;
  right: 20px;
}
