@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap");
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  font-size: 1.6em;
}
header .barraNav__links {
  display: flex;
  gap: 1em;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #3b3b3b;
}

main {
  display: grid;
  place-items: center;
  align-items: center;
  padding: 5%;
  height: 100dvh;
}
main .card {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr 2fr;
  gap: 0.5em;
  width: 100%;
  height: auto;
  background-color: white;
  position: relative;
}
main .card__img {
  background-image: url(../../images/hero2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  position: relative;
}
main .card__img span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  letter-spacing: 3px;
  font-family: "Gambarino", serif;
  font-weight: bold;
  font-size: 4.5em;
  /*color: rgb(200, 0, 0);*/
  color: hsl(210, 46%, 95%);
}
main .card__info {
  padding: 1% 3%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
main .card__info__text {
  font-family: "Manrope", sans-serif;
  padding: 3%;
}
main .card__info__text h2 {
  font-size: 1.5em;
  line-height: 30px;
  color: hsl(217, 19%, 35%);
}
main .card__info__text p {
  color: hsl(212, 23%, 69%);
  margin-top: 1em;
  font-size: 1.3em;
  line-height: 25px;
}
main .card__info__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}
main .card__info .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
main .card__info .profile__img {
  width: auto;
}
main .card__info .profile__img img {
  width: 3em;
  border-radius: 50%;
}
main .card__info .profile__data {
  display: flex;
  flex-flow: column;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}
main .card__info .profile__data .name {
  color: hsl(217, 19%, 35%);
}
main .card__info .profile__data .date {
  color: hsl(214, 17%, 51%);
}
main .card__info .share button {
  background: hsl(210, 46%, 95%);
  padding: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 9999;
  margin-top: 6px;
}
main .card__info .share img {
  width: 1.5em;
}
main .card .share-popUp {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  padding-left: 1.5em;
  display: none;
  justify-content: space-between;
  align-items: center;
  font-family: "Manrope", sans-serif;
  color: white;
  background-color: hsl(217, 19%, 35%);
  transition: all 0.35s ease-in;
}
main .card .share-popUp .socials {
  display: flex;
  gap: 1.3em;
}
main .card .share-popUp .socials span {
  font-size: 1.2em;
  color: hsl(212, 23%, 69%);
  letter-spacing: 2.5px;
}
main .card .share-popUp .socials img {
  width: 100%;
  cursor: pointer;
}
main .card .share-popUp[data-visible=true] {
  display: flex;
}

@media (min-width: 36em) {
  main {
    padding: 8%;
    height: 100dvh;
  }
  main .card {
    grid-template-rows: 1fr 1fr;
    height: 70%;
  }
  main .card__img span {
    transform: translate(-50%, 80%);
    font-size: 5em;
  }
}
@media (min-width: 56em) {
  main .card {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    width: 90%;
    height: auto;
  }
  main .card__img span {
    font-size: 3.5em;
  }
  main .card__info__text h2 {
    font-size: 2.3em;
    line-height: 45px;
  }
  main .card__info__text p {
    font-size: 1.9em;
    line-height: 35px;
  }
  main .share-popUp {
    position: absolute;
    inset: 70% 0;
    width: 16em;
    margin-left: 84%;
    padding-left: 1.5em;
    justify-content: center;
  }
  main .share-popUp .socials {
    display: flex;
    gap: 1.3em;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*
  border: 1px blue solid;
  */
}

body {
  background-color: hsl(210, 46%, 95%);
}

html {
  font-size: 80%;
}

@media (min-width: 36em) {
  html {
    font-size: 95%;
  }
}/*# sourceMappingURL=styles.css.map */