@import "SASS/navBar";
@import "SASS/main";

$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);

$fontPrincipal: 'Manrope', sans-serif;


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  
  /*
  border: 1px blue solid;
  */
}

body {
  background-color: $LightGrayishBlue;
}

html {
  font-size: 80%;
}

@media (min-width:36em){
  html {
    font-size: 95%;
  }
}