$transition_duration: 300ms;

.header {
  position: fixed;
  inset: 0.5rem 0 auto 0;
  z-index: 9999;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.island {
  // width: min(100%, 30em);
  width: fit-content;
  height: min(3.5rem, 5em);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
  padding: 0 1rem;
  margin: 1rem auto;
  border-radius: 3rem;
  box-shadow: 0 0 1rem var(--accent);
  border: 1px solid var(--accent);
  background-color: var(--background);
  color: var(--text);
  transition: all $transition_duration ease;

  &:active {
    transform: scale(1.05, 1.05);
  }

  .nav {
    flex: 2;
  }

  &__nav_ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    overflow: hidden;
    padding: 1rem;
    transition: all 500ms ease-in-out;

    button {
      text-transform: uppercase;
      border-radius: 50%;
      border: transparent 1px solid;
      padding: 0.2rem;
      background-color: transparent;
      text-align: center;
    }
  }

  .expanded_items {
    // flex: 1;
    position: absolute;
    visibility: hidden;
    transition: all $transition_duration ease;
    transition: all 400ms;
    z-index: -1;
    &:nth-child(1) {
      transform: translateX(100%);
      // background-color: lightblue;
    }
    &:nth-child(3) {
      transform: translateX(-100%);
    }
  }
}

// ======== State styles ========
.island[data-mode="expanded"] {
  // width: min(100%, 35em);
  width: fit-content;
  .expanded_items {
    transition: all calc($transition_duration - 100ms) ease;
    position: relative;
    visibility: visible;
    transform: translateX(0);
    z-index: 0;
    &:nth-child(1) {
      // color: violet;
    }
    &:nth-child(3) {
      // color: red;
    }
  }
}

.island[data-mode="divide"] {
  width: min(100%, 40em);
  transition: all 350ms ease;
}

.island[data-mode="large"] {
  width: min(100%, 40em);
  height: 30em;
  aspect-ratio: 9/6;
  transition: all 350ms ease;
}

.island[data-mode="square"] {
  width: min(100%, 15em);
  height: 15em;
  aspect-ratio: 4/4;
  transition: all 350ms ease;
}
