$transition_duration: 300ms;
@mixin island-borders {
  border-radius: 3rem;
  box-shadow: 0 0 0.5rem var(--secondary);
  border: 0.5px solid var(--accent);
  background-color: var(--background);
}

.header {
  position: sticky;
  inset: 0.5rem 0 auto 0;
  z-index: 9999;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.island {
  width: auto;
  height: min(3rem, 5em);
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem auto;
  @include island-borders;
  color: var(--text);
  transition: all $transition_duration ease;

  &:active {
    transform: scale(1.05, 1.05);
  }

  .nav {
    flex: 2;
  }

  &__nav_ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    overflow: hidden;
    padding: 1rem;
    transition: all 500ms ease-in-out;
    overflow-x: scroll;

    button {
      text-transform: uppercase;
      border-radius: 50%;
      border: transparent 1px solid;
      background-color: transparent;
      text-align: center;

      font-size: clamp(0.7rem, 2vw, 1.1rem);
    }
  }

  .expanded_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .expanded_items {
    position: absolute;
    opacity: 0;
    transition: opacity 100ms, transform 400ms;
    z-index: -1;
    &:nth-child(1) {
      transform: translateX(100%);
    }
    &:nth-child(3) {
      transform: translateX(-100%);
    }
  }

  .divide_component {
    display: grid;
    place-items: center;
    padding: 0.9rem;
    max-width: 5rem;
    max-height: 5rem;
    @include island-borders;
    position: absolute;
    opacity: 0;
    transition: opacity 100ms, transform 400ms;
    z-index: -1;
  }

  .island__container {
    display: none;
  }
}

// ======== State styles ========
.island[data-mode="expanded"] {
  width: auto;
  .expanded_items {
    transition: all calc($transition_duration - 100ms) ease;
    position: relative;
    opacity: 1;
    transform: translateX(0);
    z-index: 0;
  }
}

.island[data-mode="divide"] {
  // transition: all 350ms ease;
  .divide_component {
    z-index: 1;
    right: -3.5rem;
    // transform: translateX(4rem);
    opacity: 1;
  }
}

// There's a bug in mobile devices that I have to fix, related to the width:
// .island[data-mode="large"] {
//   flex-direction: column;
//   width: min(100%, 30em);
//   height: 20em;
//   aspect-ratio: 9/6;
//   transition: all 350ms ease;
//   .island__container {
//     display: block;
//   }
// }

.island[data-mode="square"] {
  flex-direction: column;
  width: min(100%, 20em);
  height: 20em;
  aspect-ratio: 1;
  border-radius: 2rem;
  transition: all 350ms ease;
  .island__container {
    display: grid;
    place-items: center;
    display: block;
  }
}
